{% extends "layout.html" %}
{% block content %}
<article class="media content-section bg-dark">
    <div class="media-body">
        <div class="article-metadata">
            <h1 class="ml-2 text-info">About</h1>
        </div>
        <p class="article-content text-muted">Hey Family,</p>
        <p class="article-content text-muted">So after being volunteered to handle the slideshow for the family cookouts I thought, how can I organize this so that it's as easy as possible? I decided to make a web app that would enable the family to post their own pictures throughout the year. This way when it comes time for the cookout, I can gather the images and create the slideshow.</p>
        <p class="article-content text-muted">So register an account, and start posting your pictures. I will implement the ability to login through Facebook eventually, for now just register with your email, username and password. Use your real email because if you forget your password, I have setup the app to email you a secure token to reset your password.</p>
        <p class="article-content text-muted">I also plan on updating the UI and design. I went with simple and easy on the eyes so that I could concentrate on the logic of the back end. I wanted to have this working as a Christmas present for my mother, Brenda, and all of you.</p>
        <p class="article-content text-muted">I love you all and God bless.<br/>-Richie</p>
    </div>
</article>
{% endblock content %}
